<section class="bodyTable">

  <div>
    <div class="passwordChange">
      <h1>Change your password</h1>
      <div class="error">
              
        </div>

      <form class="reset">
        <table>
          <tbody>
            <tr>
              <td class="label">Old Password</td>
              <td class="input">
                <input type="password" autocomplete="off" name="old_password" required="" />
                
               </td>
               
            </tr>
            
            <tr>
              <td class="label">New Password</td>
              <td class="input">
                <input type="password" autocomplete="off" name="new_password1" required="" />
              </td>


            </tr>
            <tr>
              <td class="label">Re-type new Password</td>
              <td class="input">
                <input type="password" autocomplete="off" name="new_password2" required="" />
              </td>



            </tr>
          </tbody>
        </table>
        <div class="actionButtons">
          <button type="submit">
            <span> </span><span>Change Password</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<script>
    $(".passwordChange button[type='submit']").click((e)=>{
        e.preventDefault();
        const pass1 = input_value_giver('new_password1');
        const pass2 = input_value_giver('new_password2');
        $('.passwordChange > .error').empty();
        $('.passwordChange .label').removeClass('error');
            $.ajax({
                type:"POST",
                url:"{% url 'customer:change_password' %}?matRout=True",
                data:{
                    "old_password": input_value_giver('old_password'),
                    "new_password1":pass1 ,
                    "new_password2": pass2,
                    "csrfmiddlewaretoken": csrfmiddlewaretoken
                },
                success:(data)=>{
                    console.log(data);
                    if(data.status == "succsess"){
                        $('.passwordChange').html(`<h1 style='text-align:center;margin-top:56px;font-size:35px'>${data.data}<h1>`);
                    }else{
                        for (const [input_name, error] of Object.entries(data.data)) {
                            console.log(input_name);
                            console.log(error);
                            $(`input[name="${input_name}"]`).parents('tr').find('.label').addClass('error');
                            $('.passwordChange > .error').append(`
                                <p>${error}</p>
                            `);
                        }
                    }
                }
            })
      
    })

    function input_value_giver(input_name){
        return $(`input[name="${input_name}"]`).val();
    }

    setTitle('Change Password')
</script>