<div class="ModalDialogContainer report-item-dialog-style">
    <div class="ModalDialog">
        <div class="ModalTitle">What went wrong?</div>
        <button class="close"></button>
        <div class="ModalDialogContent undefined">
            <div class="report-items">
                <ul>
                    <li>
                        <span><span> </span><span>Product quality was bad</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>Wrong product</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>Missing product</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>Expired product</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>I didn't like the packaging</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>My order arrived late</span><span> </span></span>
                    </li>
                    <li>
                        <span><span> </span><span>Delivery man was unprofessional</span><span> </span></span>
                    </li>
                </ul>
                <div class="report-submit-button">
                    <button disabled="" class="btn border-radius-small">
                        <span>Submit</span><span> </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<li class="selected">
    <span><span> </span><span>Product quality was bad</span><span> </span></span>
    <span class="marker-tick">
        <svg style=" fill: green; stroke: green; display: inline-block; vertical-align: middle; " width="22px" height="22px" version="1.1" viewBox="0 0 100 100" x="0px" y="0px">
                <path
                    d="M50,88.6c21.3,0,38.6-17.3,38.6-38.6S71.3,11.4,50,11.4S11.4,28.7,11.4,50S28.7,88.6,50,88.6z M31.8,45.9l12.3,12.3  l22.5-22.5l3,3L44.1,64.2L28.8,48.9L31.8,45.9z">
                </path>
        </svg>
    </span>
</li>