<div class="career-page">
    <section class="common-section">
        <div class="join-section">
            <div class="heading">Join Chaldal Family</div>
            <div class="page-description">
                <span>
                    <p>
                        At Chaldal, you are more than your job title, you are part of one of
                        the fastest growing e-commerce in Bangladesh, a successful,
                        purpose-led business. Work with a team that works to improve the
                        lives of our consumers and the communities around us. If you want to
                        feel proud of what you do, join us.
                    </p>
                </span>
            </div>
        </div>
        <div class="join-section">
            <div class="heading">Explore Chaldal Engineering</div>
            <div class="page-description">
                <span>
                    <p>
                        <a href="https://chaldal.tech" target="_blank"><strong>Click here</strong></a>
                        to learn more about our engineering team and the work we do behind
                        the scenes.
                    </p>
                </span>
            </div>
        </div>
        <div class="opening-section">
            <div class="heading">Job Openings</div>
            <div class="opening-block">
                <div class="jobImg">
                    <img
                        src="/media/joinTeamEn.webp" />
                </div>
            </div>
        </div>
        <div class="image-section">
            <div class="heading">Being an Eggxecutor</div>
            <div class="image-block">
                <div class="imageLeft">
                    <div class="image-bg">
                        <div class="img">
                            <img
                                src="/media/Sinthia.webp" />
                        </div>
                        <div class="text">
                            <div class="comments">
                                Chaldal promotes female empowerment. They have provided a
                                respectful environment for all female employees.
                            </div>
                            <div class="name">Sinthia</div>
                            <div class="position">Product Associate</div>
                        </div>
                    </div>
                    <div class="image-bg">
                        <div class="text">
                            <div class="comments">
                                My profession is my passion and I LOVE my profession. Chaldal
                                has given me the opportunity to build my dream career, which
                                will help me to be successful in life.
                            </div>
                            <div class="name">Faria</div>
                            <div class="position">Deputy Director</div>
                        </div>
                        <div class="img">
                            <img
                                src="/media/Faria.webp" />
                        </div>
                    </div>
                </div>
                <div class="imageRight">
                    <div class="image-bg">
                        <div class="img">
                            <img src="/media/Raisul.webp" />
                        </div>
                        <div class="text">
                            <div class="comments">
                                We support our Shoppers and Customers round the clock until
                                every issue and support call is resolved up until the last order
                                is delivered.
                            </div>
                            <div class="name">Bara Obama</div>
                            <div class="position"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="perks-section">
            <div class="heading">Perks of Being an Eggxecutor</div>
            <div class="perks-block">
                <div class="individualPerk">
                    <div class="img">
                        <img
                            src="/media/discount.webp" />
                    </div>
                    <div class="title">Employee Discount</div>
                    <div class="description">
                        Enjoy 4% off on all of your orders on Chaldal and other offers
                    </div>
                </div>
                <div class="individualPerk">
                    <div class="img">
                        <img
                            src="/media/graph.webp" />
                    </div>
                    <div class="title">Increments</div>
                    <div class="description">
                        Hard work always pays off at Chaldal. Get increments as you go along
                        your journey with us
                    </div>
                </div>
                <div class="individualPerk">
                    <div class="img">
                        <img
                            src="/media/laugh.jpg" />
                    </div>
                    <div class="title">Fun Work Environment</div>
                    <div class="description">
                        Work hard and have fun on the process. That’s our daily thirve.
                    </div>
                </div>
                <div class="individualPerk">
                    <div class="img">
                        <img
                            src="/media/mortarBoard.webp" />
                    </div>
                    <div class="title">Development through experience</div>
                    <div class="description">
                        Progress your learning on the job, through others and via everyday
                        tasks &amp; projects
                    </div>
                </div>
            </div>
        </div>
        <section class="linkSection">
            <div class="social-link-section">
                <div class="individualLink">
                    <a href="https://www.instagram.com/chaldal_bd/" class="linkClass" target="_blank"><img
                            src="/media/instagram.webp" /></a>
                </div>
                <div class="individualLink">
                    <a href="https://www.facebook.com/chaldalcom/" class="linkClass" target="_blank"><img
                            src="/media/fb.webp" /></a>
                </div>
                <div class="individualLink">
                    <a href="/t/ContactUs" class="linkClass"><img
                            src="/media/gmail.webp" /></a>
                </div>
            </div>
        </section>
    </section>
</div>