{% extends 'chaldal/base.html' %}
{% load product-tag %}
{% block body_content %}
                <section class="bodyWrapper" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2">

                {% comment %} Page locations {% endcomment %}
                                            <div class="categoryHeader" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1">
                                                <ol id="page_show_list" class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.0:$value:0">
                                                
                                                   

                                                </ol>
                                                <section data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.1">
                                                    <hr class="first" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.1.0">
                                                    <div id="menu_display_name" class="name" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.1.1">Fresh Vegetables</div>
                                                    <hr class="last" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.1.2">
                                                </section>
                                                <div data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.1.2"></div>
                                            </div>

                                            
                                            <div class="categorySection miscCategorySection onlyMiscCategorySection" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5">
                                                <div class="productPane" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1">
                                                    
                                                    

{% comment %} product {% endcomment %}
                                 <div  id="div_all_product">
                                                 
                                    </div>


                                  
                                                      
            {% comment %} Loading {% endcomment %}
                                                    <div id="loding_product" class="hasMoreLoading product" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1.1">
                                                        <div class="imageWrapper" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1.1.0">
                                                            <div class="imageWrapperWrapper" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1.1.0.0">
                                                                <div class="loader" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1.1.0.0.0"></div>
                                                            </div>
                                                        </div>
                                                        <div class="name" data-reactid=".bmjyufb6hy.6.2.0.0.0.0.2.5.1.1.1">Loading more...</div>
                                                    </div>
                                                </div>
                                            </div>

                         </section>
{% endblock body_content %}


{% block extra_js %}
            <script>
                //menu_ajsx(cr_url.split("/")[1])

            </script>
        {% endblock extra_js %}